<div class="outer-wrapper">
	<div class="overlay">
		<header class="header">
			<nav class="main-navigation">
				<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/projects">PROJECTS</a></li>
					<li><a href="/evancookeresume.pdf">CV</a></li>
          <li><%= link_to 'BLOG', blog_path %></li>
					<li><%= link_to 'Projects', controller: 'welcome', action: 'index' %></li>
				</ul>
			</nav>
		</header>
		<div class="inner-wrapper">
			<div class="title-area">
				<div class="title">EVAN COOKE</div>
				<div class="job">PRODUCT @ CO EVERYWHERE</div>
				<div class="contact-info">
					<div class="site-location">
						<a href="//maps.google.com/maps?q=,Boston, MA">
							<span>BOSTON, MA</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<nav class="social">
				<ul>
					<li><a class="twitter" href="http://www.twitter.com/evancooke" target="_blank"></a></li>
					<li><a class="linkedin" href="http://www.linkedin.com/cookeev" target="_blank"></a></li>
					<li><a class="github" href="http://www.github.com/cookeev" target="_blank"><a/></li>
				</ul>
			</nav>
		</footer>
	</div>
</div>
