<div class="wrapper">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/projects">PROJECTS</a></li>
    <li><a href="/evancookeresume.pdf">CV</a></li>
  </ul>
</div>
<div class="chapter-1">
  <h1>About</h1>
  <p>I lead teams and build products. I have a passion for finance, startups, and Boston sports. I'm always on the lookout for side projects and passionate people. Currently cutting my teeth at CO Everywhere where I've built for iPhone, Android, Google Glass, and web. I spent my formative years at <a href="http://www.bostoncollege.edu">Boston College.</a></p>
</div>
<div class="chapter-2">
  <h1>Ground Signal</h1>
  <p>A location-based audience platform.</p>
  <img src="http://41.media.tumblr.com/392fc027b4e41420d8aae782426801a4/tumblr_npzq31oqHe1sso926o1_1280.png">
  <p>We let businesses and brands monitor their locations and events, understand existing audiences and find new ones, and target audiences at scale.</p>
  <p>Visit our website.</p>
</div>
<div class="chapter-3">
  <h1>CO Everywhere</h1>
  <p>CO Mobile, iOS, Android, Glass</p>
  <img src="http://media.bizj.us/view/img/2443381/co-everywhere-available-on-web-android-ios*1200xx1333-750-259-0.png">
  <p>Our suite of mobile apps lets you see whats happening around you or anywhere in the world in real-time.</p>
  <p>Check us out</p>
  <a href="http://www.coeverywhere.com">here,</a>
  <a href="itunes link">here,</a>
  <a href="glass link">and here.</a>
</div>
<div class="chapter-4">
  <h1>Silver Platter</h1>
  <p>The end of missed deliveries</p>
  <img src="/sp.png">
  <p>We worry about your deliveries so you don't have to. We deliver your packages when you're home. No more missed deliveries, stolen packages, or lugging packages home from work.</p>
  <a href="http://www.silverplatterboston.com">Check out our website.</a>
</div>
