<div class="outer-wrapper">
  <div class="overlay">
    <header class="header">
      <nav class="main-navigation">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="projects.html">PROJECTS</a></li>
          <li><a href="/evancookeresume.pdf">CV</a></li>
          <%= link_to 'BLOG', controller: 'articles' %>
        </ul>
      </nav>
    </header>
    <div class="inner-wrapper">
      <div class="about-block">
        <div class="headshot">
          <img id="headshot" src="">
        </div>
      </div>
      <div class="work">
        <h1>About</h1>
        <p>I lead teams and build products.</p>
        <p>I have a passion for finance, startups, and sailing.</p>
        <p>I'm always on the lookout for new ideas.</p>
        <p>I'm teaching myself to code and currently cutting my teeth at CO Everywhere.</p>
        <p>I've built for iPhone, Android, Google Glass, and web.</p>
        <p>I spent my formative years at Boston College.</p>
      </div>
      <div class="chapter-1">
        <div class="chapter-wrapper">
          <h1>Ground Signal</h1>
          <p>A location-based audience platform.</p>
          <img src="http://41.media.tumblr.com/392fc027b4e41420d8aae782426801a4/tumblr_npzq31oqHe1sso926o1_1280.png">
          <p>We do some stuff for some people.</p>
          <p>Visit our website.</p>
        </div>
      </div>
      <div class="chapter-2">
        <h1>CO Everywhere</h1>
        <p>CO Mobile, iOS, Android, Glass</p>
        <img src="http://media.bizj.us/view/img/2443381/co-everywhere-available-on-web-android-ios*1200xx1333-750-259-0.png">
        <p>Some stuff we do</p>
        <p>Check it out here, here, here and here.</p>
      </div>
      <div class="chapter-3">
        <h1>Silver Platter</h1>
        <p>Silver Platter shipping tagline</p>
        <img src="/sp.png">
        <p>Some stuff we do</p>
        <p>Check out our website.</p>
      </div>
    </div>
    <!--<footer class="footer">
      <nav class="social">
        <ul>
          <li><a href="http://www.twitter.com/evancooke" target="_blank">Twitter</a></li>
          <li><a href="http://www.linkedin.com/cookeev" target="_blank">Linkedin</a></li>
          <li><a href="http://www.facebook.com/evan.cooke" target="_blank">Facebook<a/></li>
        </ul>
      </nav>
    </footer>-->
  </div>
</div>
